<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<connectionStrings>
		<add name="DataBase" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=uniJudge;user id=sa;password=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  
  <system.serviceModel>
   
   <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="ServiceForUser.svc" service="WCFServices.ServiceForUser.ServiceForUser" />
        <add relativeAddress="ServiceForAdmin.svc" service="WCFServices.ServiceForAdmin.ServiceForAdmin" />
        <add relativeAddress="ServiceForChecker.svc" service="WCFServices.ServiceForChecker.ServiceForChecker" />
      </serviceActivations>
    </serviceHostingEnvironment>
	
        <bindings>
            <basicHttpBinding>
				<binding name="basicHttpBindingLargeBufer" closeTimeout="10:00:00" openTimeout="10:10:00" sendTimeout="10:00:00" maxBufferSize="100000000" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" transferMode="Streamed">
					  <readerQuotas maxDepth="3200" maxStringContentLength="60000192" maxArrayLength="100000000" maxBytesPerRead="163840" maxNameTableCharCount="163840" />
				</binding>
            </basicHttpBinding>
        </bindings>
		
		
		<services>
			  <service name="WCFServices.ServiceForUser.ServiceForUser">
				<endpoint address="" binding="basicHttpBinding"  bindingConfiguration="basicHttpBindingLargeBufer"
				 contract="WCFServices.ServiceForUser.IServiceForUser" />
			  </service>
			  <service name="WCFServices.ServiceForAdmin.ServiceForAdmin">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingLargeBufer"
				  contract="WCFServices.ServiceForAdmin.IServiceForAdmin" />
			  </service>
			  <service name="WCFServices.ServiceForChecker.ServiceForChecker" >
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingLargeBufer"
				  contract="WCFServices.ServiceForChecker.IServiceForChecker" />
			  </service>
		</services>
		
		<behaviors>
		  <serviceBehaviors>
			<behavior name="">
			  <dataContractSerializer maxItemsInObjectGraph="300000000" />
			  <serviceMetadata httpGetEnabled="true" />
			  <serviceDebug includeExceptionDetailInFaults="true" />
			</behavior>
		  </serviceBehaviors>
		</behaviors>
    </system.serviceModel>
 </configuration>
 
