
@{
    ViewBag.Title = "Пароль";
}


@using (Html.BeginForm())
{
<fieldset style="left:3%; width:94%">
    <legend style="color:black"><h3> Желаете ли вы сгенерироват новый пароль ? </h3></legend>
    <br />
     @Html.Label("Поле ввода пароля : ")
     @{String pass = ViewBag.Password;}
     @Html.TextBox("TexBoxPass",pass)
     <input type="submit" name="PassKey" value="Сохранить" /> 
</fieldset>
          @Html.ActionLink("Вернуться назад", "Index")
     <br />
}
